// Don't Delete

.little-padding {
    padding: 1rem;
}

.lit-pad-t {
    padding-top: 1rem;
}

.lit-pad-b {
    padding-bottom: 1rem;
}

.btn-pd {
  padding: 0.2rem;
}

.btn-icon {
  width: 15%;  
}

/*
.no-padding mat-card {
    padding: 0px;
}
*/
