<div fxLayout="row" fxLayoutGap="10px" id="filter-input" class="little-side-marg">
  <mat-form-field fxFlex="1 2 calc(15em + 20px)">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="filter($event)" placeholder="User1">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
  <button mat-raised-button class="btnFilter" (click)="toggleFilterRequests()">
    {{!filterRequestsAlreadyApplied ? "Filtrar" : "Ver Todas"}}
  </button>
</div>

<mat-table [dataSource]="users" matSort class="mat-elevation-z8 little-side-marg">
    <ng-container matColumnDef="user">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Usuario</mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.lastName}}, {{user.name}} <br> {{ user.mail }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="requestActions">
      <mat-header-cell *matHeaderCellDef>Solicita Cargo</mat-header-cell>
      <mat-cell *matCellDef="let user">
        <div *ngIf="user.requestPosition">
          <button mat-raised-button color="primary">
            <mat-icon aria-hidden="false" aria-label="Revise">visibility</mat-icon>
          </button>
          <button mat-raised-button color="warn">
            <mat-icon aria-hidden="false" aria-label="Decline">cancel</mat-icon>
          </button>
        </div>
        <div *ngIf="!user.requestPosition">
          NO
        </div>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnsToDisplay"></mat-row>
</mat-table>

<mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons class="mat-elevation-z8 little-side-marg"></mat-paginator>

<!--
<div [dataSource]="users" *ngFor="let user of users" class="user-container">
  <mat-card>
    <mat-card-header matLine>
      <mat-card-title matLine>{{ user.mail }}</mat-card-title>
      <mat-card-subtitle matLine>Marcos Juarez</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-chip-list matLine>
        <mat-chip *ngFor="let user of users"> {{ user.mail }} </mat-chip>
      </mat-chip-list>
    </mat-card-content>
  </mat-card>
</div>
-->