#toggleNavBtn {
  margin-right: 0.5rem;
}

.mat-icon-button ::ng-deep .mat-button-focus-overlay {
  display: none;
}

.header-spacer {
  flex: 1 1 auto;
}

.header-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}
