<mat-card>
  <mat-toolbar fxLayoutAlign="center center">University Projects Manager</mat-toolbar>

  <mat-card-content class="little-padding mat-upm-secondary">
    <p>
      Facilitando la creación, gestión y formalización de proyectos de investigación
      universitaria
    </p>
  </mat-card-content>

  <form
    [formGroup]="loginForm"
    fxLayout="column"
    fxLayoutAlign="stretch"
    (ngSubmit)="onSubmit()"
  >
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput placeholder="Email o Nickname" formControlName="mail" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" placeholder="Contraseña" formControlName="password" />
    </mat-form-field>

    <button mat-raised-button type="submit" color="primary" [disabled]="!loginForm.valid">
      Iniciar Sesión
    </button>
    <br />
    <br />
    <button mat-raised-button class="mat-upm-secondary">Registrarse</button>
    <br />
    <button mat-raised-button class="mat-upm-secondary">Solo vengo de visita</button>
  </form>
</mat-card>
