<div fxLayoutAlign="center center" fxFlexFill class="no-padding">
  <mat-card fxFlex="80">
    <mat-toolbar fxLayoutAlign="center center">University Projects Manager</mat-toolbar>
    
    <mat-card-content class="little-padding mat-upm-secondary">
        <p>Facilitando la creación, gestión y formalización de proyectos de investigación universitaria</p>
    </mat-card-content>

    <form fxLayout="column" fxLayoutAlign="stretch" class="little-padding">
      <mat-form-field>
        <input matInput placeholder="Email o Nickname">
      </mat-form-field>

      <mat-form-field>
        <input matInput type="password" placeholder="Contraseña">
      </mat-form-field>
      
      <button mat-raised-button type="submit" color="primary">Iniciar Sesión</button>
      <br/>
      <br/>
      <button mat-raised-button class="mat-upm-secondary">Registrarse</button>
      <br/>
      <button mat-raised-button class="mat-upm-secondary">Solo vengo de visita</button>
    </form>

  </mat-card>
</div>
