<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="80">
        <mat-toolbar fxLayoutAlign="center center">University Projects Manager</mat-toolbar>
        <form fxLayout="column" fxLayoutAlign="stretch" class="login-form">
            <mat-form-field>
              <input matInput placeholder="Username">
            </mat-form-field>
          
            <mat-form-field>
              <input matInput type="password" placeholder="Password">
            </mat-form-field>
            
            <button mat-raised-button type="submit" color="primary">LogIn</button>
        </form>
          
    </mat-card>
</div>
