<mat-card class="project">
  <mat-card-header>
    <mat-card-title>{{ project?.name }}</mat-card-title>
    <mat-card-subtitle>{{
      project?.creationDate?.toString()?.substr(0, 10)
    }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="info" fxLayout="column">
      Universidad: <mat-chip>{{ project?.department?.university?.name }}</mat-chip>

      Departamento:
      <mat-chip
        >{{ project?.department == undefined ? "Independiente" : project?.department?.name }}
      </mat-chip>
      Projecto: <mat-chip>{{ project?.type }}</mat-chip>
    </div>

    <div class="users">
      <h3>Participantes del proyecto</h3>
      <mat-chip-list *ngIf="project?.users !== undefined" class="user-tag">
        <mat-chip *ngFor="let user of project?.users" class="user-tag">
          {{ user.name }} {{ user.lastName }}
        </mat-chip>
      </mat-chip-list>
      <mat-chip-list *ngElse>
        <mat-chip class="user-tag"> No hay participantes en este proyecto </mat-chip>
      </mat-chip-list>
    </div>

    <div class="topics">
      <h3>Tópicos</h3>
      <mat-chip-list matLine>
        <!-- make a mat-chip *ngFor when the entity "topic" exists -->
        <mat-chip class="topic-tag">Investigación</mat-chip>
        <mat-chip class="topic-tag">Tecnología</mat-chip>
        <mat-chip class="topic-tag">Python</mat-chip>
      </mat-chip-list>
    </div>
    <!-- Última Publicación, o un link a la misma -->
  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-raised-button (click)="goBackToProjects()">Cerrar</button>
    <button mat-raised-button color="primary">Inscribirse</button>
    <!-- Hacer funcionar boton de inscripción -->
  </mat-card-actions>
</mat-card>
