::ng-deep .mat-dialog-container {
    padding: 1rem;
    max-width: 92vw !important;
    // Not-working, container is 80vw */
}
// ::ng-deep .cdk-overlay-container { }

p, mat-card-subtitle { margin-bottom: 0rem; }
h2 { line-height: 1.5rem; }
h3 { margin-top: 1.5rem; }
mat-dialog-content { padding: 1.5rem 1.5rem 0rem 1.5rem; }
mat-divider { margin-top: 1rem; }
