<mat-nav-list>
  <button id="toggleNavBtn" mat-icon-button aria-label="Toggle navigation sidebar button" class="lit-marg-b" (click)="onClickToggleSidebarButton()">
      <mat-icon>menu</mat-icon>
  </button>

  <mat-divider></mat-divider>

  <mat-list-item routerLink="/profile" routerLinkActive="active">
    <mat-icon matListIcon>person</mat-icon>
    <a>Mi Perfil</a>
  </mat-list-item>

  <mat-divider></mat-divider>

  <mat-list-item routerLink="/dashboard" routerLinkActive="active">
    <mat-icon matListIcon>home</mat-icon> <!-- Or a little UPM Logo -->
    <a>UPM Feed</a>
  </mat-list-item>

  <mat-divider></mat-divider>

  <mat-list-item routerLink="/about" routerLinkActive="active">
    <mat-icon matListIcon>domain</mat-icon>
    <a>Sobre Nosotros</a>
  </mat-list-item>

  <mat-list-item routerLink="/conditions" routerLinkActive="active">
    <mat-icon matListIcon>feed</mat-icon>
    <a>Términos y Condiciones</a>
  </mat-list-item>

  <mat-list-item routerLink="/share" routerLinkActive="active">
    <mat-icon matListIcon>share</mat-icon>
    <a>Compartir Aplicación</a>
  </mat-list-item>

  <mat-list-item routerLink="/inform-error" routerLinkActive="active">
    <mat-icon matListIcon>error</mat-icon>
    <a><b>Reportar un Error</b></a>
  </mat-list-item>

  <mat-divider></mat-divider>

  <mat-list-item routerLink="/users" routerLinkActive="active">
    <mat-icon matListIcon>face</mat-icon>
    <a>Users (Modal Test)</a>
  </mat-list-item>

  <mat-divider></mat-divider>
</mat-nav-list>
