#toggleNavBtn {
  margin-left: 1.25rem;
}

.nav-list {
  padding-top: 0;
}

.profile {
  padding-top: 0.4rem;
  padding-bottom: 0.7rem;
}

.profile-data {
  display: flex;
  flex-direction: column;
}

.mat-icon-button ::ng-deep .mat-button-focus-overlay {
  display: none;
}


.lit-marg-b {
  margin-bottom: 0.5rem;
}
