<mat-sidenav-container>
  <mat-sidenav
    [mode]="isMobile ? 'over' : 'side'"
    [fixedInViewport]="isMobile"
    *ngIf="showSidenav"
  >
    <app-sidenav-body></app-sidenav-body>
  </mat-sidenav>
  <mat-sidenav-content>
    <div id="content" fxLayout="column">
      <app-header *ngIf="showHeader" (toggleSidebar)="onToggleSidebar()"></app-header>
      <router-outlet fxFlex="37em"></router-outlet>
      <app-footer *ngIf="showFooter"></app-footer>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
