.projects-container-mobile {
  min-height: 75vh;
}

.projects-container-desktop {
  min-height: 75vh;
  margin-right: 1rem;
  margin-left: 1rem;
}

.project {
  margin: 1rem;
}

.little-side-marg {
  margin-left: 1rem;
  margin-right: 1rem;
}

.search-header {
  display: flex;
}

.search-bar {
  flex-grow: 1;
}

.toggleFilterMenu,
.applyFilters,
.resetFilters {
  height: 50%;
}

.toggleFilterMenu,
.toggleOrder {
  min-width: 2rem !important;
  width: 2rem !important;
  padding: 0rem;
  margin-left: 0.75rem;
  margin-right: 0rem;
}

.applyFilters,
.resetFilters {
  mat-icon {
    margin-right: 0.3rem;
  }
}

.applyFilters {
  margin-bottom: 0.6rem;
}

.filters {
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
}

.ng-star-inserted {
  margin-left: 0rem !important;
  margin-right: 0rem !important;

  .user-tag,
  .topic-tag {
    margin-left: 0.5rem !important;
  }
}

::ng-deep .mat-card-header-text {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
}