.project-container {
  margin: 1rem;
}

.little-side-marg {
  margin-left: 1rem;
  margin-right: 1rem;
}

.user-tag,
.topic-tag {
  margin-left: 0.5rem !important;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.search-header {
  display: flex;
}

.search-bar {
  flex-grow: 1;
}

.submitSearch,
.filterButton {
  margin-left: 0.5rem;
  height: 50%;
}

::ng-deep .mat-card-header-text {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
}
