.search-header {
  display: flex;
}

.search-button {
  min-width: 2rem !important;
  width: 2rem !important;
  padding: 0rem;
  margin-left: 0rem;
  margin-right: 0rem;
}

.search-bar {
  flex-grow: 1;
}
